.card{
    border-radius: 0px !important;
    box-shadow: 4px 4px 12px rgb(160, 159, 159);
}

.my_btn_outline{
    color:var(--primary-btn-color)!important;
    border-color: var(--primary-btn-color)!important;
}

.my_btn{
    color:white;
    background-color: var(--primary-btn-color)!important;
    border-color: var(--primary-btn-color)!important;
}

.my_btn:hover{
    color:white !important;
    background-color: var(--btn-hover-bg)!important;
}
.my_btn_outline:hover{
    color:white !important;
    background-color: var(--btn-hover-bg)!important;
}